@font-face {
  font-family: 'Regular';
  src: url('AlimamaDongFangDaKai-Regular.ttf') format('truetype');
}

* {
  font-family: Regular, serif;
}

.docs * {
  font-family: "Microsoft YaHei", Arial, sans-serif !important;
}
